<ion-content>

  <ion-grid>
    <ion-row justify-content-around>
      <ion-col col-12 col-sm>
        <ion-card>
          <ion-card-content [className]="'color-card card-content card-content-md ' + cardColorProm">
            <div *ngIf="promedio" class="wrapper">
              <div class="temp-prom-content">
                <h2>Temperatura</h2>
                <h1><b>{{promedio}}°C</b></h1>
                <h3>Promedio</h3>
              </div>
              <img [src]="'assets/imgs/'+assetTemp" class="animated bounceIn">
            </div>
            <div *ngIf="!promedio" class="loading">
              <img src="assets/imgs/loading.gif" alt="">
            </div>
          </ion-card-content>
        </ion-card>

        <br>

        <ion-card>
          <ion-card-content>
            <div class="sensor-card">
              <div class="circle" [className]="'circle ' + cardColor1"></div>
              <h2>Sensor 1</h2>
              <h3><b>{{lastTemp}}° C</b></h3>
            </div>
            <div class="sensor-card">
              <div class="circle" [className]="'circle ' + cardColor2"></div>
              <h2>Sensor 2</h2>
              <h3><b>{{lastTemp2}}° C</b></h3>
            </div>
            <div class="sensor-card">
              <div class="circle" [className]="'circle ' + cardColor3"></div>
              <h2>Sensor 3</h2>
              <h3><b>{{lastTemp3}}° C</b></h3>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>