page-presion {
     
}
.wrapper{
    display: flex;
    align-items: center;
    text-align: center;
  }
.position{
    display: inline-block;
    width: 30%;
    position: relative;
}
.hide {
  visibility: hidden;
}